.main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-rows: 40px 1fr;
    align-content: start;
    row-gap: 20px;

    &__title {
        grid-column: 2 / 3;

        padding: 10px;
        justify-self: center;
        align-self: center;
    }

    &__form {
        grid-column: 2 / 3;

        align-self: start;
        justify-self: center;
    }

    &__panel {
        grid-column: 2 / 3;

        align-self: start;
        background-color: #ffffff;
        padding: 20px;
    }
}